@import "./vars.scss";

.button {
  display: flex;
  background-color: $lightBlueColor;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 1rem;

  &__icon {
    position: relative;
    margin-right: 0.3125rem;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chat-dots-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");
  }

  &__label {
    margin: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.button_contact {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.3625rem 0;
  border-radius: 1rem;

  .button__label {
    margin: 0;
    font-family: "Roboto-Regular";
  }
}

.subContainer {
  max-width: 47.25rem;
}
