$skyBlueColor: #eef5ff;
$lightBlueColor: #2882ff;
$semiLightBlueColor: #6a7799;
$semiDarkBlueColor: #283147;
$darkBlueColor: #171d2c;

$orangeColor: #ff6b17;

$greyColor: #e8ebec;

$filterinputColor: #f7f8f8;
$placeholderColor: #d1d3d5;

$selectColor: #8b9599;

$TrGreyColor: #eff1f2;
$TrWhiteColor: #fafbfb;
